.app {
  display: flex;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex: 1;
}

.sidebar {
  flex: 0 0 16.5vw;
}

.content {
  width: 98.72vw;
}

code {
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background-color: #7f1d1d;
  border-radius: 0.25rem;
}

@media screen and (max-width: 1024px) {
  .sidebar{
      display:none;
  }
}